<input type="text" [(ngModel)]='makeFilter' />
<button type="button" (click)="refresh(makeFilter)">
  Search
</button>

<table mat-table [dataSource]="models | async">
  <ng-container matColumnDef="id">
    <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <ng-container matColumnDef="make">
    <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
    <td mat-cell *matCellDef="let element"> {{element.make}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <!-- <th mat-header-cell *matHeaderCellDef> No. </th> -->
    <!-- <td mat-cell *matCellDef="let element"> {{element.model}} </td> -->
    <td mat-cell *matCellDef="let element">
      <img src="https://images-na.ssl-images-amazon.com/images/I/51oBFr-Uh%2BL._AC_UL130_.jpg" />
    </td>
    
  </ng-container>

  <tr mat-row (click)="onRowClick(row)" style="cursor: pointer" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>