<table class="table">
  <thead [class.thead-dark]="userSettings.useDark">
    <tr>
      <th>Description</th>
      <th>Assigned To</th>
      <th>Done</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of todoList | async">
      <td>{{ item.description }}</td>
      <td>{{ item.assignedTo }}</td>
      <td>
        <input type="checkbox" [checked]="item.done" />
      </td>
      <td>
        <button type="button" class="btn btn-dark" (click)="delete(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>